.spot-available {
    margin: 4px;
    background-color: green;
    display: inline-block;
 text-decoration: none;
 width: 19.3%;
 height: 40px;
 border-radius: 20px;
 text-align: center;
 justify-content: center;
 align-content: center;
 justify-items: center;
 font-weight: bold;
  }
  
  .spot-unavailable {
    margin: 4px;
    background-color: red;
    display: inline-block;
 text-decoration: none;
 width: 19.5%;
 height: 40px;
 border-radius: 20px;
 text-align: center;
 justify-content: center;
 align-content: center;
 justify-items: center;
 font-weight: bold;
  }