<h1>Qhama's PArking</h1>
<fieldset>
  <fieldset>
    <form action="">
    <br><label>User</label>
    <input type="text">
    <br><label>Name</label>
    <input type="text">
    <br><label>Surname</label>
    <input type="text">
    <br><label>Email</label>
    <input type="text">
    <br><label>phone</label>
    <input type="text">
     <br><label>Car Name</label>
    <input type="text">
    <br><label>registration</label>
    <input type="text">
    <br><label>color</label>
    <input type="text">
    <br><label>Sport</label>
    <input type="text">
    <br><button>Book</button>
  </form></fieldset>
  <br>
  <fieldset id="row1">
    <button>A1</button>
    <button>A2</button>
    <button>A3</button>
    <button>A4</button>
    <button>A5</button>
    <br>
    <fieldset id="row2"></fieldset>
    <br><button>A6</button>
    <button>A7</button>
    <button>A8</button>
    <button>A9</button>
   <button>A10</button>
   <br>
   <fieldset id="row3"></fieldset>
   <br><button>A11</button>
    <button>A12</button>
    <button>A13</button>
    <button>A14</button>
    <button>A15</button>
    <br>
    <fieldset id="row4"></fieldset>
    <br><button>A16</button>
    <button>A17</button>
    <button>A18</button>
    <button>A19</button>
    <button>A20</button>
  </fieldset>
</fieldset>